PLANO_DE_ESTUDOS.txt

b7web/wordpress
b7web/frontend
b7web/react_native
baltaio
dankicode
rocketseat
udemy/cod3r-graphql
udemy/hcode-javascript
udemy/hcode-php7
udemy/plinioNaves-graphql
udemy/serfrontend-javascript
udemy/univDosDados-sql
upInside